sec {
    display: grid;
    grid-template: 1fr 4fr/1fr 1fr 1fr;
    width: 50%;
}

#nameTitle {
    grid-area: 1 / 1;
}

#names {
    grid-area: 2 / 1; 
}

#jobsTitle {
    grid-area: 1 / 2;
}

#jobs {
    grid-area: 2 / 2;
}

#pricesTItle {
    grid-area: 1/ 3;
}

#prices {
    grid-area: 2/3;
}

h3{
    text-align: center;
}

ul {
    list-style-type: none;
}